<h2>Recettes</h2>
<div>
  <ul class="list_recipes_soap">
  <% @recipes.each do |recette| %>
  <li class="recipe_soap_card">
    <div class="titre_recipe_soap">
      <h3><%= recette.titre %></h3>

        <%= turbo_frame_tag "counter_soap_#{recette.id}" do %>
          <div class="counter_recipe_soap">
              <span id="recette_id_<%= recette.id %>">
                <%= recette.counter %>
              </span>
            <div>
            <%= link_to counter_path(recipe:recette, arrow: "up"), method: :post do %>
              <i class="fa-solid fa-caret-up"></i>
            <% end %>
            <%= link_to counter_path(recipe:recette, arrow: "down"), method: :post do %>
              <i class="fa-solid fa-caret-down"></i></div>
            <% end %>
          </div>
        <% end %>

    </div>
    <h4>Ingredients</h4>
    <ul>
    <% recette.recipe_soap_ingredients.each do |ing| %>
      <li><%= ing.qty %> g <%= ing.name_ing %></li>
    <% end %>
    </ul>
    <h4>Qté eau : <%= recette.qty_water %></h4>
    <h4>Type d'alcali: <%= recette.type_soude %></h4>
    <h4>Qté soude :<%= recette.qty_soude %></h4>
    <h4>% de surgraissage : <%= recette.surgraissage_taux %></h4>
  </li>
  <% end %>
</ul>
</div>
