<div class="recipe">
<div class="tool_saponification_bas" id="JSON" data-controller="saponification" data-saponification-target="ingredientsJson" data-ingredients="<%= @json %>" data-saponification-apexcharts-outlet=".online-chart" data-recipe-series="" data-recipe-donnees="">
  <div id="list_ingredients">
    <h2 class="titre_tool">Liste des ingrédients</h2>
    <div class="liste_ingredients_options">
      <select name="ingredients" size="5" data-action="change->saponification#getIngredient">
        <% @ingredients.keys.each do |ing|%>
          <option value="<%= ing %>" data-action="dblclick->saponification#doubleClick" data-saponification-target="ingredientItem"><%= @ingredients[ing]["French_name"] %></option>
        <% end %>
      </select>
      <!--
      <div class="ingredients_options">
        <% @ingredients.keys.size.times do %>
          <i class="fa-solid fa-plus" data-action="click->saponification#addIngredientOption"></i>
        <% end %>
      </div>
      -->
    </div><!-- fin liste ingredients options -->

  </div><!-- Fin liste ingredients -->

  <div id="caracteristiques" data-saponification-target="caracteristiquesIngredient">
    <h2 class="titre_tool">Propriétés de l'ingrédient</h2>
    <div>
      <label for="Hardness">Dureté</label>
      <input type="number" name="Hardness" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Cleansing">Pouvoir lavant</label>
      <input type="number" name="Cleansing" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Condition">Condition</label>
      <input type="number" name="Condition" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Bubbly">Bulles</label>
      <input type="number" name="Bubbly" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Creamy">Creamy</label>
      <input type="number" name="Creamy" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Iodine">Iodine</label>
      <input type="number" name="Iodine" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <hr>

    <div>
      <label for="INS">INS</label>
      <input type="number" name="INS" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

      <hr>

    <div>
      <label for="Lauric">Lauric</label>
      <input type="number" name="Lauric" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Myristic">Myristic</label>
      <input type="number" name="Myristic" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Palmitic">Palmitic</label>
      <input type="number" name="Palmitic" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Stearic">Stearic</label>
      <input type="number" name="Stearic" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Ricinoleic">Ricinoleic</label>
      <input type="number" name="Ricinoleic" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Oleic">Oleic</label>
      <input type="number" name="Oleic" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Linoleic">Linoleic</label>
      <input type="number" name="Linoleic" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Linolenic">Linolenic</label>
      <input type="number" name="Linolenic" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

    <div>
      <label for="Vitesse_tracage">Vitesse de traçage</label>
      <input type="number" name="Vitesse_tracage" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>

  </div> <!-- Fin #caractéristiques -->

  <!-- Ingredients sélectionnés dans la recette -->
  <div id="tableau_ingredients_selectionnes">
    <h2 class="titre_tool">Liste des ingrédients de la recette</h2>
    <div class="table_ingredients_selectionnes">
      <table>
        <thead>
          <tr>
            <th></th>
            <th class="tableau_ingredient_name ">Ingrédient</th>
            <th>%</th>
            <th>g</th>
          </tr>
        </thead>
        <tbody data-saponification-target="ingredientTable" data-ingredients=[]>
        </tbody>
        <div>
          <tr>
            <td></td>
            <td>Totaux</td>
            <td>0%</td>
            <td data-saponification-target="sommePoids">0</td>
          </tr>
        </div>
      </table>
    </div>

    <div>
      <label for="">% Surgraissage</label>
      <input type="number" name="surgraissage" value="0" data-action="change->saponification#changeSurgraissage" data-saponification-target="pourcentageSurgraissage">
    </div>
    <div>
      <p>Somme NAOH des ingrédients (Quantité de soude caustique à utiliser pour saponifier à 100% le poids total des ingrédients en savon.</p>
      <input type="number" name="somme" value="0" data-saponification-target="sommeNaoh">
    </div>
    <div>
      <p>Somme KOH</p>
      <input type="number" name="somme" value="0" data-saponification-target="sommeKoh" class="resutl_koh">
    </div>

  </div><!-- Fin des ingrédients de la recette -->

  <div id="proprietes_savon" data-saponification-target="savonProprietes" data-proprietes="<%= @savon_proprietes%>">
    <h2 class="titre_tool">Propriétés du savon</h2>
    <div>
      <label for="Hardness">Dureté</label>
      <input type="number" name="Hardness" value="0">
    </div>

    <div>
      <label for="Cleansing">Pourvoir lavant</label>
      <input type="number" name="Cleansing" value="0">
    </div>

    <div>
      <label for="Condition">Condition</label>
      <input type="number" name="Condition" value="0">
    </div>

    <div>
      <label for="Bubbly">Bulles</label>
      <input type="number" name="Bubbly" value="0">
    </div>

    <div>
      <label for="Creamy">Creamy</label>
      <input type="number" name="Creamy" value="0">
    </div>

    <div>
      <label for="Iodine">Iodine</label>
      <input type="number" name="Iodine" value="0">
    </div>

    <hr>

    <div>
      <label for="INS">INS</label>
      <input type="number" name="INS" value="0">
    </div>

    <hr>

    <div>
      <label for="Lauric">Lauric</label>
      <input type="number" name="Lauric" value="0">
    </div>

    <div>
      <label for="Myristic">Myristic</label>
      <input type="number" name="Myristic" value="0">
    </div>

    <div>
      <label for="Palmitic">Palmitic</label>
      <input type="number" name="Palmitic" value="0">
    </div>

    <div>
      <label for="Stearic">Stearic</label>
      <input type="number" name="Stearic" value="0">
    </div>

    <div>
      <label for="Ricinoleic">Ricinoleic</label>
      <input type="number" name="Ricinoleic" value="0">
    </div>

    <div>
      <label for="Oleic">Oleic</label>
      <input type="number" name="Oleic" value="0">
    </div>

    <div>
      <label for="Linoleic">Linoleic</label>
      <input type="number" name="Linoleic" value="0">
    </div>

    <div>
      <label for="Linolenic">Linolenic</label>
      <input type="number" name="Linolenic" value="0">
    </div>

    <div>
      <label for="Vitesse_tracage">Vitesse de traçage</label>
      <input type="number" name="Vitesse_tracage" value="0">
      <i class="fa-regular fa-circle-question information"><span>gg</span></i>
    </div>
  </div> <!-- Fin #caractéristiques -->

  <div class="online-chart" data-controller="apexcharts" data-apexcharts-labels-value="<%= @labels%>" data-apexcharts-series-value="<%= @series %>" data-apexcharts-target="chartParent">
    <div data-apexcharts-target="chart"></div>

  </div>
</div> <!-- Fin controller JS -->
</div><!--fin recipe -->
