<div class="recipe">

<div class="tool_saponification_bas" id="JSON" data-controller="saponification" data-saponification-target="ingredientsJson" data-ingredients="<%= @json %>" data-saponification-apexcharts-outlet=".online-chart" data-recipe-series="" data-recipe-donnees="">
  <div class="types_savon" data-saponification-target="finalSavonChoice" data-final-savon-choice="">
    <div>
      <h2 class="titre_tool">1. Choisissez votre type de savon</h2>
      <div class="savons_type_select">
        <div class="btn_savon_choix" data-type-savon="solide" data-saponification-target="choiceSavon" data-action="click->saponification#selectSavon">
          <%= image_tag "savon.png",width:40 %><span>savon solide</span>
        </div>
        <div class="btn_savon_choix" data-type-savon="liquide" data-saponification-target="choiceSavon" data-action="click->saponification#selectSavon">
          <%= image_tag "savon-liquide.png",width:40 %><span>savon liquide</span>
        </div>
      </div>
    </div>
    <div class="message_alert_alcali" data-saponification-target="alcaliAlertMessage">
      <div class="message_alert_alcali_type naoh">
        <%= image_tag "logo-corrosif.png" %>
        <p><strong>NaOH</strong> : La soude est un produit extrêmement corrosif qui peut provoquer de graves brûlures. Il est à manipuler avec une grande précaution. Attention lorsque vous préparez votre solution de soude verser toujours la soude dans l’eau et jamais l’inverse.</p>
      </div>
      <div class="message_alert_alcali_type koh">
        <%= image_tag "logo-corrosif.png" %>
        <p><strong>KOH 90%</strong> : La potasse du commerce est généralement concentrée à 90%. Composé caustique et très corrosif à manipuler avec une grande précaution. Attention lorsque vous préparez votre solution de potasse verser toujours la potasse dans l’eau et jamais l’inverse.</p>
      </div>
      <div class="message_alert_alcali_type lessive">
        <%= image_tag "logo-corrosif.png" %>
        <p>Lessive : Vérifier la concentration de votre lessive de soude déjà préparer. Elle est généralement située aux alentours de 30%. Attention !!! Manipuler la lessive de soude avec une grande précaution</p>
      </div>
    </div>
    <div class="save_recipe_soap" data-saponification-target="saveSavon">

      <%= form_with(url: save_recipe_path, metho: "post",model: @new_recipe) do |f| %>
        <div class="form_recipe_soap_hidden_element">
          <div>
            <%= f.label :titre %>
            <%= f.text_field :titre %>
        </div>
          <div>
            <%= f.label :qty_water %>
            <%= f.number_field :qty_water, data: {saponification_target: "qtyWater" },step:0.01 %>
          </div>
          <div>
            <%= f.label :type_alcali %>
            <%= f.text_field :type_soude, data: {saponification_target: "typeAlcali" } %>
            <%= f.label :qty_soude %>
            <%= f.number_field :qty_soude, data: {saponification_target: "qtySoude" },step:0.01 %>
          </div>
          <div>
            <%= f.label :pourcentage_surgraissage %>
            <%= f.text_field :surgraissage_taux, class:"recipe_soap_surgraissage_taux" %>
          </div>
          <div>
            <%= f.text_field :ingredients,value:'[]', class:"ing_list_form_save"%>
          </div>
          <div>
            <%= f.label :hardness %>
            <%= f.number_field :hardness, class:"recipe_soap_hardness" %>
            <%= f.label :cleansing %>
            <%= f.number_field :cleansing,class:"recipe_soap_cleansing" %>
            <%= f.label :condition %>
            <%= f.number_field :condition,class:"recipe_soap_condition" %>
            <%= f.label :bubbly %>
            <%= f.number_field :bubbly,class:"recipe_soap_bubbly" %>
            <%= f.label :creamy %>
            <%= f.number_field :creamy,class:"recipe_soap_creamy" %>
            <%= f.label :iodine %>
            <%= f.number_field :iodine,class:"recipe_soap_iodine" %>
          </div>
        <%= f.submit %>
        </div>
      <% end %>
      <div class="save_soap_recipe_action" data-action="click->saponification#saveSoapSubmit">
       <i class="fa-regular fa-floppy-disk fa-2xl"></i>
       <p>Sauvegarder la recette</p>
      </div>
    </div>
  </div>
  <div class="soudes">
    <h2 class="titre_tool">2. Définissez vos paramètres</h2>
    <div>
      <div>
        <div>
          <label for="" class="green_label">Type d'alcali <i class="fa-regular fa-circle-question information"><span><p>..</p></span></i></label>
          <select data-saponification-target="selectSoude" disabled data-action="saponification#lessiveSelect">
            <option value="naoh" class="select_soude solide">NaOH</option>
            <option value="lessive" class="select_soude solide">Lessive</option>
            <option value="koh" class="select_soude liquide">KOH</option>
          </select>
        </div>
        <div>
          <label for="" class="green_label">Taux de surgraissage <i class="fa-regular fa-circle-question information"><span><p>Le taux de surgraissage minimale est recommandé à 5 % pour ne pas avoir un savon trop caustique et ne doit pas dépasser 8 ou 10% pour ne pas avoir un savon trop mou et qui risque de rancir. </p></span></i></label>
          <input type="number" placeholder="%" name="surgraissage" data-action="change->saponification#changeSurgraissage" data-saponification-target="pourcentageSurgraissage">
        </div>
      </div>
      <div>
        <div>
          <label for="" class="green_label">Pourcentage d'eau désiré <i class="fa-regular fa-circle-question information"><span><p>Le pourcentage d’eau qui est généralement recommandé est de 30%. Il peut varier de 25 à 40 % selon la vitesse de traçage souhaité les graisses choisies.</p></span></i></label>
          <input type="number" placeholder="%" data-action="change->saponification#changeSoude" data-saponification-target="pourcentageEau">
        </div>
        <div>
          <label for="" class="green_label">Pourcentage d'ajout/additifs(Faire JS) <i class="fa-regular fa-circle-question information"><span><p>L’ajout total d’additifs ne doit pas dépasser 10 % du poids total des huiles. Les fragrances ne doivent généralement pas dépasser 3% du poids des huiles (environ 30g pour 1kg d’huile), de même que pour les argiles, colorants et autres additifs (miel, sucre). Attention certaines huiles essentielles (cannelle, girofle, menthe) ou autres additifs accélèrent particulièrement la trace et augmente fortement la température du mélange. Il est important de vérifier les recommandations données par le fournisseur.</p></span></i></label>
          <input type="number" placeholder="%">
        </div>
      </div>
      <div>
        <div>
          <label for="" class="green_label">Concentration de la lessive</label>
          <input type="number" placeholder="% de la soude" class="input_lessive_concentration" data-saponification-target="concentrationLessive" data-action="change->saponification#getConcentrationLessive">
        </div>
      </div>
    </div>
  </div><!--Fin class soude-->
  <div class="tableaux">
    <div id="list_ingredients">
      <h2 class="titre_tool">3. Choisissez vos ingrédients</h2>
      <div class="liste_ingredients_options" data-saponification-target="listIngredients">
        <select name="ingredients" size="5" data-action="change->saponification#getIngredient">
          <% @ingredients.keys.each do |ing|%>
            <option value="<%= ing %>" data-action="dblclick->saponification#doubleClick" data-saponification-target="ingredientItem"><%= @ingredients[ing]["French_name"] %></option>
          <% end %>
        </select>
        <!--
        <div class="list_ingredients_add_option">
          <% @ingredients.keys.size.times do %>
            <span>
              <i class="fa-solid fa-plus"></i>
            </span>
          <% end %>
        </div>
        -->
        <!--
        <div class="ingredients_options">
          <% @ingredients.keys.size.times do %>
            <i class="fa-solid fa-plus" data-action="click->saponification#addIngredientOption"></i>
          <% end %>
        </div>
        -->
      </div><!-- fin liste ingredients options -->

    </div><!-- Fin liste ingredients -->

    <div id="caracteristiques" data-saponification-target="caracteristiquesIngredient" data-ingredient-name="">
      <h2 class="titre_tool light">Propriétés de l'ingrédient</h2>
      <div>
        <label for="Hardness">Dureté</label>
        <input type="number" name="Hardness" value="0" disabled>
        <i class="fa-regular fa-circle-question information">
          <span>
            <p>La dureté représente la solidité du savon. L’intervalle doit être situé entre 29 et 54. Sa valeur dépend des acides gras saturés (palmitique, stéarique, laurique, myristique). Généralement, un savon doux (plus soluble) sera situé entre 29 et 35 et un savon solide entre 40 et 54.
            </p>
          </span>
        </i>
      </div>

      <div>
        <label for="Cleansing">Pouvoir lavant</label>
        <input type="number" name="Cleansing" value="0" disabled>
        <i class="fa-regular fa-circle-question information">
          <span>
            <p>Le pouvoir lavant détermine la capacité du savon à éliminer les graisses et les impuretés. L’intervalle doit être situé entre 12 et 22. Sa valeur dépend des acides gras laurique et myristique. Bas (<12) : savon doux, idéal pour peaux sèches. Élevé (>22) : savon très lavant, mais peut assécher.
            </p>
          </span>
        </i>
      </div>

      <div>
        <label for="Condition">Douceur</label>
        <input type="number" name="Condition" value="0" disabled>
        <i class="fa-regular fa-circle-question information">
          <span>
            <p>La douceur indique la capacité émolliente du savon, c’est à dire nourrissante, hydratante et à protéger la peau. L’intervalle doit être situé entre 44 et 69. Sa valeur dépend des acides gras insaturés (oléique, linoléique, linolénique). Bas (<44) : savon peu hydratant. Élevé (>69) : savon riche, adapté aux peaux sèches ou sensibles. </p>
          </span>
        </i>
      </div>

      <div>
        <label for="Bubbly">Pouvoir moussant</label>
        <input type="number" name="Bubbly" value="0" disabled>
        <i class="fa-regular fa-circle-question information">
          <span>
            <p>Le pouvoir moussant mesure la capacité du savon à mousser et à produire des bulles. L’intervalle doit être situé entre 14 et 46. Sa valeur dépend des acides laurique et myristique. Bas (<14) : savon peu moussant. Élevé (>46) : savon très moussant.
            </p>
          </span>
        </i>
      </div>

      <div>
        <label for="Creamy">Onctuosité</label>
        <input type="number" name="Creamy" value="0" disabled>
        <i class="fa-regular fa-circle-question information">
        <span>
          <p>L'onctuosité Mesure la tenue et l’onctuosité de la mousse. L’intervalle doit être situé entre 16 et 48. Sa valeur dépend des acides stéarique et palmitique. Bas (<16) : mousse légère. Élevé (>48) : mousse abondante et onctueuse.</p>
        </span>
        </i>
      </div>

      <div>
        <label for="Iodine">Indice Iodine</label>
        <input type="number" name="Iodine" value="0" disabled>
        <i class="fa-regular fa-circle-question information">
          <span>
            <p>L'indice Iodine mesure les risques d’oxydation et la fragilité des huiles végétales. Plus cet indice est élevé, plus l’huile végétale est fragile. Plus l’indice d’iode d’un savon est élevé, plus le savon risque de s’oxyder et de rancir, plus sa durée de conservation peut être courte. L’intervalle doit être situé entre 41 et 70.</p>
          </span>
        </i>
      </div>

      <div>
        <label for="Vitesse_tracage">Vitesse de traçage</label>
        <input type="number" name="Vitesse_tracage" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>La vitesse de traçage d’une huile dépend de sa composition en acides gras. Les acides gras saturés entraînent une vitesse de traçage rapide tandis que les acides gras insaturés entraînent une vitesse de traçage lente. La vitesse de traçage d’une huile va influencer sur la vitesse de traçage du mélange final.</p></span></i>
      </div>

      <hr>

      <div>
        <label for="INS">INS</label>
        <input type="number" name="INS" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L’INS (Iodine Number Saponification): L’INS donne une note globale à l’huile et reprend les paramètres précédemment cités : dureté, pouvoir lavant, douceur, pouvoir moussant, onctuosité. C’est un paramètre d’équilibre. L’INS d’une huile est calculé en déduisant l’indice d’iode à l’indice de saponification (indice KOH).
</p></span></i>
      </div>

        <hr>

      <div>
        <label for="Lauric">Acide Laurique</label>
        <input type="number" name="Lauric" value="0" disabled>
        <i class="fa-regular fa-circle-question information">
          <span>
            <p>L'acide laurique ou acide dodécanoïque est un acide gras saturé à chaîne moyenne  (C12 :0) de formule semi-développée CH3–(CH2)10–COOH.</p>
          </span>
        </i>
      </div>

      <div>
        <label for="Myristic">Acide Myristique</label>
        <input type="number" name="Myristic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L’acide myristique ou acide tétradécanoïque est un acide gras saturé (C14 :0), de formule semi-développée CH3–(CH2)12–COOH. </p></span></i>
      </div>

      <div>
        <label for="Palmitic">Acide Palmitique</label>
        <input type="number" name="Palmitic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L’acide palmitique ou acide cétylique est un acide gras saturé (C16 :0), de formule semi-développée CH3(CH2)14COOH.  </p></span></i>
      </div>

      <div>
        <label for="Stearic">Acide Stéarique</label>
        <input type="number" name="Stearic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'acide stéarique ou acide octadécanoïque est un acide gras à chaîne moyenne (C18 :0), de formule semi-développée est CH3-(CH2)16-COOH. </p></span></i>
      </div>

      <div>
        <label for="Ricinoleic">Acide Ricinoléique</label>
        <input type="number" name="Ricinoleic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L’acide ricinoléique est un acide gras mono-insaturé hydroxylé oméga-9 de formule chimique semi-développée CH3–(CH2)5–HCOH–CH2–CH=CH–(CH2)7–COOH.</p></span></i>
      </div>

      <div>
        <label for="Oleic">Acide Oléique</label>
        <input type="number" name="Oleic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'acide oléique est un acide gras mono-insaturé (C18 :1), de formule semi - développée CH3(CH2)7CH=CH(CH2)7COOH).  </p></span></i>
      </div>

      <div>
        <label for="Linoleic">Acide Linoléique</label>
        <input type="number" name="Linoleic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'acide linoléique est un acide gras polyinsaturé oméga-6 (C18: 2), de formule semi-développée CH3(CH2)4CH=CH–CH2–CH=CH(CH2)7–COOH. </p></span></i>
      </div>

      <div>
        <label for="Linolenic">Acide Linolénique</label>
        <input type="number" name="Linolenic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'acide linolénique est un acide gras polyinsaturé oméga-3 (C18 :3), de formule semi-développée CH3(CH2)4CH=CH–CH2–CH=CH(CH2)7–COOH. </p></span></i>
      </div>

      <br>
      <div class="add_ing_button" data-action="click->saponification#addIngButton" data-saponification-target="addIngBtn"><span>Ajouter l'ingrédient</span><i class="fa-solid fa-plus"></i></div>
    </div> <!-- Fin #caractéristiques -->

    <!-- Ingredients sélectionnés dans la recette -->
    <div id="tableau_ingredients_selectionnes">
      <h2 class="titre_tool">4. Définissez vos quantités</h2>
      <div class="table_ingredients_selectionnes">
        <table>
          <thead>
            <tr>
              <th></th>
              <th class="tableau_ingredient_name left">Ingrédient</th>
              <th>%</th>
              <th><span>g</span><i class="fa-regular fa-circle-question information"></i></th>
            </tr>
          </thead>
          <tbody data-saponification-target="ingredientTable" data-ingredients=[]>

            <tr class="pre_input_ingredient"><td><input type="text" class="table_ingredients_input" data-saponification-target="ingredientTd"></td><td><input type="number" data-action="click->saponification#clickInput change->saponification#changePourcentageIng" data-saponification-target="ingPourcentage" value="" disabled></td><td><input type="number" data-action="change->saponification#changePoids" data-saponification-target="ingPoids" value="0"></td><td><input value="0"><i class="fa-regular fa-circle-question information"></i></td>
            </tr>
            <tr class="pre_input_ingredient"><td><input type="text" class="table_ingredients_input" data-saponification-target="ingredientTd"></td><td><input type="number" data-action="click->saponification#clickInput change->saponification#changePourcentageIng" data-saponification-target="ingPourcentage" value="" disabled></td><td><input type="number" data-action="change->saponification#changePoids" data-saponification-target="ingPoids" value="0"></td><td><input value="0"><i class="fa-regular fa-circle-question information"></i></td>
            </tr>
            <tr class="pre_input_ingredient"><td><input type="text" class="table_ingredients_input" data-saponification-target="ingredientTd"></td><td><input type="number" data-action="click->saponification#clickInput change->saponification#changePourcentageIng" data-saponification-target="ingPourcentage" value="" disabled></td><td><input type="number" data-action="change->saponification#changePoids" data-saponification-target="ingPoids" value="0"></td><td><input value="0"><i class="fa-regular fa-circle-question information"></i></td>
            </tr>

          </tbody>
          <div>
            <tr class="total_recipe_ingredients">
              <td></td>
              <td class="left">Totaux</td>
              <td data-saponification-target="pourcentagePoidsTotal">0%</td>
              <td><span data-saponification-target="sommePoids">0</span><i class="fa-regular fa-circle-question information"></i></td>
            </tr>
          </div>
        </table>
      </div>
      <div data-saponification-target="alertPoids" class="alert_poids">
        <i class="fa-solid fa-triangle-exclamation fa-xl"></i>
        <p>Attention ! Il est recommandé d’avoir au moins 500g de graisse dans votre savon pour éviter les erreurs de pesée qui peuvent survenir lorsque la balance utilisée n’est pas assez précise.</p>
      </div>
      <hr>
      <div class="naoh_koh_results" data-saponification-target="resultsNaohKoh">
        <div class="select_choice_savon_method naoh solide">
          <p>Quantité de soude (g)</p>
          <div>
            <input type="number" name="somme" value="0" data-saponification-target="sommeNaoh">
            <i class="fa-regular fa-circle-question information"><span><p>Quantité de soude caustique à utiliser pour saponifier à 100% le poids total des ingrédients en savon.</p></span></i>
          </div>
        </div>

        <div class="select_choice_savon_method koh liquide">
          <p>Quantité de potasse (g)</p>
          <div>
            <input type="number" name="somme" value="0" data-saponification-target="sommeKoh" class="resutl_koh">
            <i class="fa-regular fa-circle-question information"><span><p>???</p></span></i>
          </div>
        </div>
      </div>
      <!-- NaOH + KOH -->
      <hr>
      <div class="results_tool_saponification">
        <div class="">
          <label for="" class="green_label">Quantité d'eau (g)</label>
          <div>
            <input type="number" name="" value="" placeholder="faire JS" disabled>
            <input type="number" name="surgraissage" value="0" data-action="change->saponification#changeEau" data-saponification-target="qtyWater" disabled>
          </div>
        </div>
        <div class="">
          <label for="" class="green_label">Quantité d'alcali (g)</label>
          <div>
            <input type="number" name="" value="" placeholder="faire JS" disabled>
            <input type="number" name="lessive" value="0" data-saponification-target="qtySoude" disabled>
          </div>
        </div>
        <div class="">
          <label for="" class="green_label">Quantité de lessive (préparée) (g)</label>
          <div>
            <input type="number" name="" value="" placeholder="faire JS" disabled>
            <input class="lessive_soude_result" type="number" name="lessive_soude" value="0" data-saponification-target="qtyLessiveSoude" disabled>
          </div>
        </div>
      </div>

    </div><!-- Fin des ingrédients de la recette -->
    <div id="ingredient_selectionne_attributs" data-saponification-target="ingSelectionneProprietes" class="">
      <div><h2 class="titre_tool"></h2><i class="fa-regular fa-circle-xmark" data-saponification-target="closeInfo" data-action="click->saponification#closeInfoIng"></i></div>
      <table>
      <tr>
        <td>Dureté</td>
        <td name="Hardness"></td>
      </tr>
      <tr>
        <td>Pouvoir lavant</td>
        <td name="Cleansing"></td>
      </tr>
      <tr>
        <td>Douceur</td>
        <td name="Condition"></td>
      </tr>
      <tr>
        <td>Pouvoir moussant</td>
        <td name="Bubbly"></td>
      </tr>
      <tr>
        <td>Onctuosité</td>
        <td name="Creamy"></td>
      </tr>
      <tr>
        <td>Indice Iodine</td>
        <td name="Iodine"></td>
      </tr>
      <tr>
        <td>Vitesse de traçage</td>
        <td name="Vitesse_tracage"></td>
      </tr>
      <tr>
        <td>INS</td>
        <td name="INS"></td>
      </tr>
      <tr>
        <td>Acide Laurique</td>
        <td name="Lauric"></td>
      </tr>
      <tr>
        <td>Acide Myristique</td>
        <td name="Myristic"></td>
      </tr>
      <tr>
        <td>Acide Palmitique</td>
        <td name="Palmitic"></td>
      </tr>
      <tr>
        <td>Acide Stéarique</td>
        <td name="Stearic"></td>
      </tr>
      <tr>
        <td>Acide Ricinoléique</td>
        <td name="Ricinoleic"></td>
      </tr>
      <tr>
        <td>Acide Oléique</td>
        <td name="Oleic"></td>
      </tr>
      <tr>
        <td>Acide Linoléique</td>
        <td name="Linoleic"></td>
      </tr>
      <tr>
        <td>Acide Linolénique</td>
        <td name="Linolenic"></td>
      </tr>
      </table>
    </div>
    <div id="proprietes_savon" data-saponification-target="savonProprietes" data-proprietes="<%= @savon_proprietes%>">
      <h2 class="titre_tool">5. Propriétés du savon</h2>
      <div>
        <label for="Hardness">Dureté</label>
        <input type="number" name="Hardness" value="0" disabled class="">
        <i class="fa-regular fa-circle-question information"><span><p>La <strong>dureté</strong> représente la solidité du savon. L’intervalle doit être situé entre 29 et 54. Sa valeur dépend des acides gras saturés (palmitique, stéarique, laurique, myristique). Généralement, un savon doux (plus soluble) sera situé entre 29 et 35 et un savon solide entre 40 et 54.</p></span></i>
      </div>

      <div>
        <label for="Cleansing">Pourvoir lavant</label>
        <input type="number" name="Cleansing" value="0" disabled class="">
        <i class="fa-regular fa-circle-question information"><span><p>Le <strong>pouvoir lavant</strong> détermine la capacité du savon à éliminer les graisses et les impuretés. L’intervalle doit être situé entre 12 et 22. Sa valeur dépend des acides gras laurique et myristique. Bas (<12) : savon doux, idéal pour peaux sèches. Élevé (>22) : savon très lavant, mais peut assécher. </p></span></i>
      </div>

      <div>
        <label for="Condition">Douceur</label>
        <input type="number" name="Condition" value="0" disabled class="">
        <i class="fa-regular fa-circle-question information"><span><p>La <strong>douceur</strong> indique la capacité émolliente du savon, c’est à dire nourrissante, hydratante et à protéger la peau. L’intervalle doit être situé entre 44 et 69. Sa valeur dépend des acides gras insaturés (oléique, linoléique, linolénique). Bas (<44) : savon peu hydratant. Élevé (>69) : savon riche, adapté aux peaux sèches ou sensibles. </p></span></i>
      </div>

      <div>
        <label for="Bubbly">Pouvoir moussant</label>
        <input type="number" name="Bubbly" value="0" disabled class="">
        <i class="fa-regular fa-circle-question information"><span><p>Le <strong>pouvoir moussant</strong> mesure la capacité du savon à mousser et à produire des bulles. L’intervalle doit être situé entre 14 et 46. Sa valeur dépend des acides laurique et myristique. Bas (<14) : savon peu moussant. Élevé (>46) : savon très moussant. </p></span></i>
      </div>

      <div>
        <label for="Creamy">Onctuosité</label>
        <input type="number" name="Creamy" value="0" disabled class="">
        <i class="fa-regular fa-circle-question information"><span><p>L'<strong>onctuosité</strong> mesure la tenue et l’onctuosité de la mousse. L’intervalle doit être situé entre 16 et 48. Sa valeur dépend des acides stéarique et palmitique. Bas (<16) : mousse légère. Élevé (>48) : mousse abondante et onctueuse. </p></span></i>
      </div>

      <div>
        <label for="Iodine">Indice Iodine</label>
        <input type="number" name="Iodine" value="0" disabled class="">
        <i class="fa-regular fa-circle-question information"><span><p>Mesure les risques d’oxydation et la fragilité des huiles végétales. Plus cet indice est élevé, plus l’huile végétale est fragile. Plus l’indice d’iode d’un savon est élevé, plus le savon risque de s’oxyder et de rancir, sa durée de conservation est peut donc être plus courte. L’intervalle doit être situé entre 41 et 70.</p></span></i>
      </div>

      <div>
        <label for="Vitesse_tracage">Vitesse de traçage</label>
        <input type="text" name="Vitesse_tracage" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>La <strong>vitesse de traçage</strong> dépend de la composition en acides gras des graisses présentent dans le mélange. Les acides gras saturés entraînent une vitesse de traçage rapide tandis que les acides gras insaturés entraînent une vitesse de traçage lente. </p></span></i>
      </div>

      <hr>

      <div>
        <label for="INS">INS</label>
        <input type="number" name="INS" value="0" data-saponification-target="sommeGraissesINS" disabled class="">
        <i class="fa-regular fa-circle-question information"><span><p>L’<strong>INS</strong> donne une note globale au savon et reprend les paramètres précédemment cités : dureté, pouvoir lavant, douceur, pouvoir moussant, onctuosité.
        L’INS d’un savon est la somme des INS de chacune de ses huiles pondérées par sa quantité. L’intervalle doit être situé entre 136 et 170. </p></span></i>
      </div>

      <hr>

      <div>
        <label for="Lauric">Acide Laurique</label>
        <input type="number" name="Lauric" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'<strong>acide laurique</strong> ou acide dodécanoïque est un acide gras saturé à chaîne moyenne  (C12 :0) de formule semi-développée CH3–(CH2)10–COOH.</p></span></i>
      </div>

      <div>
        <label for="Myristic">Acide Myristique</label>
        <input type="number" name="Myristic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L’<strong>acide myristique</strong> ou acide tétradécanoïque est un acide gras saturé (C14 :0), de formule semi-développée CH3–(CH2)12–COOH. </p></span></i>
      </div>

      <div>
        <label for="Palmitic">Acide Palmitique</label>
        <input type="number" name="Palmitic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L’<strong>acide palmitique</strong> ou acide cétylique est un acide gras saturé (C16 :0), de formule semi-développée CH3(CH2)14COOH.  </p></span></i>
      </div>

      <div>
        <label for="Stearic">Acide Stéarique</label>
        <input type="number" name="Stearic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'<strong>acide stéarique</strong> ou acide octadécanoïque est un acide gras à chaîne moyenne (C18 :0), de formule semi-développée est CH3-(CH2)16-COOH. </p></span></i>
      </div>

      <div>
        <label for="Ricinoleic">Acide Ricinoléique</label>
        <input type="number" name="Ricinoleic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L’<strong>acide ricinoléique</strong> est un acide gras mono-insaturé hydroxylé oméga-9 de formule chimique semi-développée CH3–(CH2)5–HCOH–CH2–CH=CH–(CH2)7–COOH.</p></span></i>
      </div>

      <div>
        <label for="Oleic">Acide Oléique</label>
        <input type="number" name="Oleic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'<strong>acide oléique</strong> est un acide gras mono-insaturé (C18 :1), de formule semi - développée CH3(CH2)7CH=CH(CH2)7COOH).  </p></span></i>
      </div>

      <div>
        <label for="Linoleic">Acide Linoléique</label>
        <input type="number" name="Linoleic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'<strong>acide linoléique</strong> est un acide gras polyinsaturé oméga-6 (C18: 2), de formule semi-développée CH3(CH2)4CH=CH–CH2–CH=CH(CH2)7–COOH. </p></span></i>
      </div>

      <div>
        <label for="Linolenic">Acide Linolénique</label>
        <input type="number" name="Linolenic" value="0" disabled>
        <i class="fa-regular fa-circle-question information"><span><p>L'<strong>acide linolénique</strong> est un acide gras polyinsaturé oméga-3 (C18 :3), de formule semi-développée CH3(CH2)4CH=CH–CH2–CH=CH(CH2)7–COOH. </p></span></i>
      </div>

    </div> <!-- Fin #caractéristiques -->

    <div class="online-chart" data-controller="apexcharts" data-apexcharts-labels-value="<%= @labels%>" data-apexcharts-series-value="<%= @series %>" data-apexcharts-target="chartParent">
      <div data-apexcharts-target="chart"></div>

    </div>
  </div>
  <div class="proprietes_ingredients_selectionnes" data-saponification-target="syntheseProprietes">
    <h2 class="titre_tool">Propriétés des ingrédients</h2>
    <div>
      <table>
        <thead>
          <th>Nom de l'ingrédient</th>
          <th>Dureté</th>
          <th>Pouvoir lavant</th>
          <th>Douceur</th>
          <th>Pouvoir moussant</th>
          <th>Onctuosité</th>
          <th>Indice Iodine</th>
          <th>Vitesse de traçage</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div id="ajouts_savon">
  <h2 class="titre_tool">6. Choisissez vos ajouts</h2>
    <table>
      <thead>
        <th>Choix de l'ajout</th>
        <th>nom du parfum/huile</th>
        <th>%</th>
        <th>g</th>
      </thead>
      <tbody>
        <tr class="parfum_argile_add">
          <td>
            <select name="" id="">
              <option value="parfum">Parfum/Huile essentielle</option>
              <option value="argile">Argile</option>
              <option value="colorant">Colorant</option>
            </select><span><i class="fa-solid fa-circle-plus"></i></span>
          </td>
          <td><input type="text" placeholder="nom de votre parfum/huile"></td>
          <td><input type="number" placeholder="%"></td>
          <td><input type="number" placeholder="g"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- Fin controller JS -->
</div><!--fin recipe -->
