<div class="tableFixHead">
<table id="ingredients_table">
  <thead>
    <tr>
      <th><span class="ing_head">Ingrédient<div class="sort_ing"><%= link_to ingredient_sort_path(name:"ingredient",sort:"asc"), data: { turbo_stream: true } do %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"ingredient",sort:"desc"), data: { turbo_stream: true } do %><i class="fa-solid fa-sort-down"></i><% end %></div></th>
      <th><span class="ing_head">Nom INCI<div class="sort_ing"><%= link_to ingredient_sort_path(name:"INCI",sort:"asc"), data: { turbo_stream: true } do %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"INCI",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></th>
      <th><span class="ing_head">Dureté<div class="sort_ing"><%= link_to ingredient_sort_path(name:"durete",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"durete",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></th>
      <th><span class="ing_head">Pouvoir lavant<div class="sort_ing"><%= link_to ingredient_sort_path(name:"pouvoir lavant",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"pouvoir lavant",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Condition<div class="sort_ing"><%= link_to ingredient_sort_path(name:"condition",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"condition",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Bulles<div class="sort_ing"><%= link_to ingredient_sort_path(name:"bulles",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"bulles",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Creamy<div class="sort_ing"><%= link_to ingredient_sort_path(name:"creamy",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"creamy",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Iodine<div class="sort_ing"><%= link_to ingredient_sort_path(name:"iodine",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"iodine",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">INS<div class="sort_ing"><%= link_to ingredient_sort_path(name:"INS",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"INS",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Lauric<div class="sort_ing"><%= link_to ingredient_sort_path(name:"Lauric",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"Lauric",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Myristic<div class="sort_ing"><%= link_to ingredient_sort_path(name:"Myristic",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"Myristic",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Palmitic<div class="sort_ing"><%= link_to ingredient_sort_path(name:"Palmitic",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"Palmitic",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Stearic<div class="sort_ing"><%= link_to ingredient_sort_path(name:"Stearic",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"Stearic",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Ricinoleic<div class="sort_ing"><%= link_to ingredient_sort_path(name:"Ricinoleic",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"Ricinoleic",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Oleic<div class="sort_ing"><%= link_to ingredient_sort_path(name:"Oleic",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"Oleic",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Linoleic<div class="sort_ing"><%= link_to ingredient_sort_path(name:"Linoleic",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"Linoleic",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Linolenic<div class="sort_ing"><%= link_to ingredient_sort_path(name:"Linolenic",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"Linolenic",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">Vitesse de traçage<div class="sort_ing"><%= link_to ingredient_sort_path(name:"vitesse",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"vitesse",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">NaOH<div class="sort_ing"><%= link_to ingredient_sort_path(name:"NaOH",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"NaOH",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
      <th><span class="ing_head">KOH<div class="sort_ing"><%= link_to ingredient_sort_path(name:"KOH",sort:"asc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-up"></i><% end %><%= link_to ingredient_sort_path(name:"KOH",sort:"desc"), data: { turbo_stream: true } do  %><i class="fa-solid fa-sort-down"></i><% end %></div></span></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients_table.each do |ing| %>
      <tr>
        <td><%= ing.french_name%></td>
        <td><%= ing.INCI_name %></td>
        <td><%= ing.hardness%></td>
        <td><%= ing.cleansing%></td>
        <td><%= ing.condition %></td>
        <td><%= ing.bubbly %></td>
        <td><%= ing.creamy %></td>
        <td><%= ing.iodine %></td>
        <td><%= ing.INS %></td>
        <td><%= ing.lauric %></td>
        <td><%= ing.myristic %></td>
        <td><%= ing.palmitic %></td>
        <td><%= ing.stearic %></td>
        <td><%= ing.ricinoleic %></td>
        <td><%= ing.oleic %></td>
        <td><%= ing.Linoleic %></td>
        <td><%= ing.linolenic %></td>
        <td><%= ing.vitesse_tracage.round(2) %></td>
        <td><%= ing.NaOH_SAP.round(2) %></td>
        <td><%= ing.KOH_SAP.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
