<h1>Tools#saponification</h1>
<p>Find me in app/views/tools/saponification.html.erb</p>
<%= link_to "Vue DB/SQL", rails_db_path()%>
<%= @ingredients %>
<h2>JSON</h2>
<%= @json %>
<div>
  <h2>Propriétés</h2>
  <div>

    <hr>
    <div>
      <h2>% d'eau dans l'huile</h2>
    </div>
    <hr>


  </div>
  <!-- Tableau de la recette -->

  <!-- Fin Tableau recette-->
  <hr>
  <div>
  <h2>Recherche de la qté de liquide de dissolution de la soude caustique</h2>
  <p>Tuto: <a href="https://iletaitunsavon.com/fabriquer-son-savon-a-froid/calcul-de-la-soude/">https://iletaitunsavon.com/fabriquer-son-savon-a-froid/calcul-de-la-soude/</a></p>
  <p><a href="https://iletaitunsavon.com/fabriquer-son-savon-a-froid/proportion-eau-naoh-de-la-lessive-de-soude/">https://iletaitunsavon.com/fabriquer-son-savon-a-froid/proportion-eau-naoh-de-la-lessive-de-soude/</a></p>

  </div>

  <div data-controller="tabs-saponification">
    <div class="tabs_list" data-tabs-saponification-target="tabIndex" data-index="0">
      <div class="tab active" data-action="click->tabs-saponification#tabSelect" data-tabs-saponification-target="tabRecipe"><span>Recette #1</span><i class="fa-regular fa-circle-xmark fa-l" data-action="click->tabs-saponification#removeRecipe"></i></div>
      <div class="tab" data-action="click->tabs-saponification#tabSelect" data-tabs-saponification-target="tabRecipe"><span>Recette #2</span><i class="fa-regular fa-circle-xmark fa-l" data-action="click->tabs-saponification#removeRecipe"></i></div>
      <div class="tab new" data-action="click->tabs-saponification#newRecipe" data-tabs-saponification-target="newRecipe"><span>Nouvelle recette</span><i class="fa-solid fa-circle-plus fa-l"></i></div>
    </div>
    <div class="tab_contents">
      <div class="tab_content active" data-tabs-saponification-target="recipeContent">
        <div class="test_height">
          <h1>1</h1>
          <%= render "recette2"%>
        </div>
      </div><!--  Fin Tab Content -->
      <div class="tab_content" data-tabs-saponification-target="recipeContent">
        <div class="test_height">
          <h1>2</h1>
          <%= render "recette2"%>
        </div>
      </div><!--  Tab Content -->
    </div>

  </div> <!-- Fin tabs stimulus constroller -->


  <!-- Fin tool_saponification_bas-->
</div><!-- Fin controller saponification -->
