<h1>Calculateur de saponification</h1>
<%= link_to "Vue DB/SQL", rails_db_path()%>
<div>
  <h2>Propriétés</h2>
  <div>

    <hr>
    <div>
      <h2>% d'eau dans l'huile</h2>
    </div>
    <hr>


  </div>


  <div>
  <h2>Recherche de la qté de liquide de dissolution de la soude caustique</h2>
  <p>Tuto: <a href="https://iletaitunsavon.com/fabriquer-son-savon-a-froid/calcul-de-la-soude/">https://iletaitunsavon.com/fabriquer-son-savon-a-froid/calcul-de-la-soude/</a></p>
  <p><a href="https://iletaitunsavon.com/fabriquer-son-savon-a-froid/proportion-eau-naoh-de-la-lessive-de-soude/">https://iletaitunsavon.com/fabriquer-son-savon-a-froid/proportion-eau-naoh-de-la-lessive-de-soude/</a></p>

  </div>

  <div data-controller="tabs-saponification" data-tabs-saponification-apexcharts-outlet=".online-chart" data-tabs-saponification-saponification-outlet=".tool_saponification_bas">
    <div class="tabs_all_list">
      <div class="tabs_list" data-tabs-saponification-target="tabIndex" data-index="0" data-series='<%= @series %>' data-labels='<%= @labels %>' data-donnees='<%= @donnees %>'>
        <div class="tab active" data-action="click->tabs-saponification#tabSelect" data-tabs-saponification-target="tabRecipe"><span>Recette α</span><i class="fa-regular fa-circle-xmark fa-l" data-action="click->tabs-saponification#removeRecipe"></i></div>
      </div>

      <div class="tab new" data-action="click->tabs-saponification#newRecipe" data-tabs-saponification-target="newRecipe"><span>Nouvelle recette</span><i class="fa-solid fa-circle-plus fa-l"></i></div>
    </div>
    <div class="tab_contents">
      <div class="tab_content active" data-tabs-saponification-target="recipeContent">
        <div class="">
          <%= render "recipe"%>
        </div>
      </div><!--  Fin Tab Content -->

    </div>

  </div> <!-- Fin tabs stimulus constroller -->


  <!-- Fin tool_saponification_bas-->
</div><!-- Fin controller saponification -->
<div id="tabs_faq_saponification">
  <div class="tab_faq_saponification">
    <h2>Questions fréquentes</h2>
  </div>
  <div class="tab_faq_saponification">
    <h2>Ingrédients</h2>
  </div>
</div>
<div id="tabs_faq_saponification_contents">
</div>



<div id="faq">
  <h2>Questions fréquentes</h2>
  <div id="list_faq">
    <% @faqs.each do |faq| %>
      <details>
        <summary><h3 class="faq_titre"><%= faq.question %><i class="fa-solid fa-circle-plus"></i></h3></summary>
        <p><%= faq.answer %></p>
      </details>
    <% end %>
  </div>
</div>
