<h1>Tools#saponification</h1>
<p>Find me in app/views/tools/saponification.html.erb</p>
<%= link_to "Vue DB/SQL", rails_db_path()%>
<%= @ingredients %>
<h2>JSON</h2>
<%= @json %>
<div>
  <h2>Propriétés</h2>
  <div>

    <hr>
    <div>
      <h2>% d'eau dans l'huile</h2>
    </div>
    <hr>


  </div>
  <!-- Tableau de la recette -->

  <!-- Fin Tableau recette-->
  <hr>
  <div>
  <h2>Recherche de la qté de liquide de dissolution de la soude caustique</h2>
  <p>Tuto: <a href="https://iletaitunsavon.com/fabriquer-son-savon-a-froid/calcul-de-la-soude/">https://iletaitunsavon.com/fabriquer-son-savon-a-froid/calcul-de-la-soude/</a></p>
  <p><a href="https://iletaitunsavon.com/fabriquer-son-savon-a-froid/proportion-eau-naoh-de-la-lessive-de-soude/">https://iletaitunsavon.com/fabriquer-son-savon-a-froid/proportion-eau-naoh-de-la-lessive-de-soude/</a></p>

  </div>

  <div data-controller="tabs-saponification">
    <div class="tabs_list">
      <div class="tab active" data-action="click->tabs-saponification#tabSelect" data-tabs-saponification-target="tabRecipe"><span>Recette #1</span><i class="fa-regular fa-circle-xmark fa-l" data-action="click->tabs-saponification#removeRecipe"></i></div>
      <div class="tab" data-action="click->tabs-saponification#tabSelect" data-tabs-saponification-target="tabRecipe"><span>Recette #2</span><i class="fa-regular fa-circle-xmark fa-l" data-action="click->tabs-saponification#removeRecipe"></i></div>
      <div class="tab new" data-action="click->tabs-saponification#newRecipe" data-tabs-saponification-target="newRecipe"><span>Nouvelle recette</span><i class="fa-solid fa-circle-plus fa-l"></i></div>
    </div>
    <div class="tab_contents">
      <div class="tab_content active" data-tabs-saponification-target="recipeContent">
        <div class="tool_saponification_bas" id="JSON" data-controller="saponification" data-saponification-target="ingredientsJson" data-ingredients="<%= @json %>" data-saponification-apexcharts-outlet=".online-chart">

          <div id="list_ingredients">
            <h2 class="titre_tool">Liste des ingrédients 1</h2>
            <select name="ingredients" size="5" data-action="change->saponification#getIngredient">
              <% @ingredients.keys.each do |ing|%>
                <option value="<%= ing %>" data-action="dblclick->saponification#doubleClick"><%= ing%></option>
              <% end %>
            </select>
          </div>

          <div id="caracteristiques" data-saponification-target="caracteristiquesIngredient">
            <h2 class="titre_tool">Propriétés de l'ingrédient</h2>
            <div>
              <label for="Hardness">Hardness</label>
              <input type="number" name="Hardness" value="0">
            </div>

            <div>
              <label for="Cleansing">Cleansing</label>
              <input type="number" name="Cleansing" value="0">
            </div>

            <div>
              <label for="Condition">Condition</label>
              <input type="number" name="Condition" value="0">
            </div>

            <div>
              <label for="Bubbly">Bubbly</label>
              <input type="number" name="Bubbly" value="0">
            </div>

            <div>
              <label for="Creamy">Creamy</label>
              <input type="number" name="Creamy" value="0">
            </div>

            <div>
              <label for="Iodine">Iodine</label>
              <input type="number" name="Iodine" value="0">
            </div>
            <hr>
            <div>
              <label for="INS">INS</label>
              <input type="number" name="INS" value="0">
            </div>
             <hr>
            <div>
              <label for="Lauric">Lauric</label>
              <input type="number" name="Lauric" value="0">
            </div>

            <div>
              <label for="Myristic">Myristic</label>
              <input type="number" name="Myristic" value="0">
            </div>

            <div>
              <label for="Palmitic">Palmitic</label>
              <input type="number" name="Palmitic" value="0">
            </div>

            <div>
              <label for="Stearic">Stearic</label>
              <input type="number" name="Stearic" value="0">
            </div>

            <div>
              <label for="Ricinoleic">Ricinoleic</label>
              <input type="number" name="Ricinoleic" value="0">
            </div>

            <div>
              <label for="Oleic">Oleic</label>
              <input type="number" name="Oleic" value="0">
            </div>

            <div>
              <label for="Linoeic">Linoeic</label>
              <input type="number" name="Linoeic" value="0">
            </div>

            <div>
              <label for="Linolenic">Linoleic</label>
              <input type="number" name="Linolenic" value="0">
            </div>
          </div> <!-- Fin #caractéristiques -->

        </div> <!-- Fin controller JS -->

      </div><!--  Tab Content -->
      <div class="tab_content active" data-tabs-saponification-target="recipeContent">
        <div class="tool_saponification_bas" id="JSON" data-controller="saponification" data-saponification-target="ingredientsJson" data-ingredients="<%= @json %>" data-saponification-apexcharts-outlet=".online-chart">

          <div id="list_ingredients">
            <h2 class="titre_tool">Liste des ingrédients 2</h2>
            <select name="ingredients" size="5" data-action="change->saponification#getIngredient">
              <% @ingredients.keys.each do |ing|%>
                <option value="<%= ing %>" data-action="dblclick->saponification#doubleClick"><%= ing%></option>
              <% end %>
            </select>
          </div>

          <div id="caracteristiques" data-saponification-target="caracteristiquesIngredient">
            <h2 class="titre_tool">Propriétés de l'ingrédient</h2>
            <div>
              <label for="Hardness">Hardness</label>
              <input type="number" name="Hardness" value="0">
            </div>

            <div>
              <label for="Cleansing">Cleansing</label>
              <input type="number" name="Cleansing" value="0">
            </div>

            <div>
              <label for="Condition">Condition</label>
              <input type="number" name="Condition" value="0">
            </div>

            <div>
              <label for="Bubbly">Bubbly</label>
              <input type="number" name="Bubbly" value="0">
            </div>

            <div>
              <label for="Creamy">Creamy</label>
              <input type="number" name="Creamy" value="0">
            </div>

            <div>
              <label for="Iodine">Iodine</label>
              <input type="number" name="Iodine" value="0">
            </div>
            <hr>
            <div>
              <label for="INS">INS</label>
              <input type="number" name="INS" value="0">
            </div>
             <hr>
            <div>
              <label for="Lauric">Lauric</label>
              <input type="number" name="Lauric" value="0">
            </div>

            <div>
              <label for="Myristic">Myristic</label>
              <input type="number" name="Myristic" value="0">
            </div>

            <div>
              <label for="Palmitic">Palmitic</label>
              <input type="number" name="Palmitic" value="0">
            </div>

            <div>
              <label for="Stearic">Stearic</label>
              <input type="number" name="Stearic" value="0">
            </div>

            <div>
              <label for="Ricinoleic">Ricinoleic</label>
              <input type="number" name="Ricinoleic" value="0">
            </div>

            <div>
              <label for="Oleic">Oleic</label>
              <input type="number" name="Oleic" value="0">
            </div>

            <div>
              <label for="Linoeic">Linoeic</label>
              <input type="number" name="Linoeic" value="0">
            </div>

            <div>
              <label for="Linolenic">Linoleic</label>
              <input type="number" name="Linolenic" value="0">
            </div>
          </div> <!-- Fin #caractéristiques -->

        </div> <!-- Fin controller JS -->

      </div><!--  Tab Content -->
    </div>
  </div> <!-- Fin tabs stimulus constroller -->


  <!-- Fin tool_saponification_bas-->
</div><!-- Fin controller saponification -->
