<h1>Calculateur de saponification</h1>
<%= link_to "Vue DB/SQL", rails_db_path()%>
<div>
  <h2>Propriétés</h2>
  <div>

    <hr>
    <div>
      <h2>% d'eau dans l'huile</h2>
    </div>
    <hr>


  </div>


  <div>
  <h2>Recherche de la qté de liquide de dissolution de la soude caustique</h2>
  <p>Tuto: <a href="https://iletaitunsavon.com/fabriquer-son-savon-a-froid/calcul-de-la-soude/">https://iletaitunsavon.com/fabriquer-son-savon-a-froid/calcul-de-la-soude/</a></p>
  <p><a href="https://iletaitunsavon.com/fabriquer-son-savon-a-froid/proportion-eau-naoh-de-la-lessive-de-soude/">https://iletaitunsavon.com/fabriquer-son-savon-a-froid/proportion-eau-naoh-de-la-lessive-de-soude/</a></p>

  </div>

  <div data-controller="tabs-saponification" data-tabs-saponification-apexcharts-outlet=".online-chart" data-tabs-saponification-saponification-outlet=".tool_saponification_bas">
    <div class="tabs_all_list">
      <div class="tabs_list" data-tabs-saponification-target="tabIndex" data-index="0" data-series='<%= @series %>' data-labels='<%= @labels %>' data-donnees='<%= @donnees %>'>
        <div class="tab active" data-action="click->tabs-saponification#tabSelect" data-tabs-saponification-target="tabRecipe"><span>Recette α</span><i class="fa-regular fa-circle-xmark fa-l" data-action="click->tabs-saponification#removeRecipe"></i></div>
      </div>

      <div class="tab new" data-action="click->tabs-saponification#newRecipe" data-tabs-saponification-target="newRecipe"><span>Nouvelle recette</span><i class="fa-solid fa-circle-plus fa-l"></i></div>
    </div>
    <div class="tab_contents">
      <div class="tab_content active" data-tabs-saponification-target="recipeContent">
        <div class="">
          <%= render "recipe"%>
        </div>
      </div><!--  Fin Tab Content -->

    </div>

  </div> <!-- Fin tabs stimulus constroller -->


  <!-- Fin tool_saponification_bas-->
</div><!-- Fin controller saponification -->
<div data-controller="tabs-saponification">
  <div id="tabs_faq_saponification">
    <div class="tab_faq_saponification selected" data-tabs-saponification-target="tabFaq" data-action="click->tabs-saponification#tabSelectFaq">
      <h2>Questions fréquentes</h2>
    </div>
    <div class="tab_faq_saponification" data-tabs-saponification-target="tabFaq" data-action="click->tabs-saponification#tabSelectFaq">
      <h2>Ingrédients</h2>
    </div>
  </div>

  <div id="tabs_faq_saponification_contents">

    <div class="tab_faq_saponification_content visible" data-tabs-saponification-target="contentFaq">
      <div id="list_faq">
        <% @faqs.each do |faq| %>
          <details>
            <summary><h3 class="faq_titre"><%= faq.question %><i class="fa-solid fa-circle-plus"></i></h3></summary>
            <p><%= faq.answer %></p>
          </details>
        <% end %>
      </div>
    </div>
    <div class="tab_faq_saponification_content" data-tabs-saponification-target="contentFaq">
      <table class="ingredients_table">
        <thead>
          <tr>
            <th>Ingrédient</th>
            <th>Nom INCI</th>
            <th>Dureté</th>
            <th>Pouvoir lavant</th>
            <th>Condition</th>
            <th>Bulles</th>
            <th>Creamy</th>
            <th>Iodine</th>
            <th>INS</th>
            <th>Lauric</th>
            <th>Myristic</th>
            <th>Palmitic</th>
            <th>Stearic</th>
            <th>Ricinoleic</th>
            <th>Oleic</th>
            <th>Linoleic</th>
            <th>Linolenic</th>
            <th>Vitesse de traçage</th>
          </tr>
        </thead>
        <tbody>
          <% Ingredient.all.each do |ing| %>
            <tr>
              <td><%= ing.french_name%></td>
              <td><%= ing.INCI_name %></td>
              <td><%= ing.hardness%></td>
              <td><%= ing.cleansing%></td>
              <td><%= ing.condition %></td>
              <td><%= ing.bubbly %></td>
              <td><%= ing.creamy %></td>
              <td><%= ing.iodine %></td>
              <td><%= ing.INS %></td>
              <td><%= ing.lauric %></td>
              <td><%= ing.myristic %></td>
              <td><%= ing.palmitic %></td>
              <td><%= ing.stearic %></td>
              <td><%= ing.ricinoleic %></td>
              <td><%= ing.oleic %></td>
              <td><%= ing.Linoleic %></td>
              <td><%= ing.linolenic %></td>
              <td><%= ing.vitesse_tracage %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div><!-- Fin #tabs_faq_saponification_contents -->
</div>
